@charset "utf-8";
/* CSS Document */
.main{text-align: center;width: 1140px;margin: 0 auto;height: 797px;}
.main h2{height: 50px; line-height: 50px;font-size: 28px;font-weight: bold;padding-top: 80px;}
.main ul{display: inline-block;*display: inline;*zoom: 1;}
.main li{float: left;padding: 0 17px;line-height: 65px;height: 65px;}
.main li a{color: #202221;font-size: 15px;text-transform: uppercase;}
.main .active{color: #e7280c;}
.main li a:hover{color: #e7280c;}
.pic_list .mask{width: 285px;height: 182px;position: relative;float: left;}
.pic_list img{width: 100%;height: 100%;}
.pic_list a{width: 100%;height: 100%;background: rgba(0,0,0,.5);position: absolute;top:0;left: 0;line-height: 182px;color: #fff;font-size: 30px;display: none;}
.pic_list .mask:hover a{display: block;}







